.actionsButton {
    position: relative;
    cursor: pointer;
    color: #616f82;
    user-select: none;
    font-size: 14px;

    &__dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 230px;
        height: 88px;
        background-color: white;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
    .changeHandler,
    .deleteHandler {
        color: black;
        font-size: 14px;
        width: 230px;
        height: 36px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
    }

    .changeHandler:hover,
    .deleteHandler:hover {
        background-color: #f1f2f3;
    }
}
