.client,
.clientActive {
  display: flex;
  align-items: center;
  width: 366px;
  height: 60px;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 4px;
  padding-left: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  position: relative;

  color: black;
  a {
    color: black;
  }
}
.clientActive {
  background-color: #f1f2f4;
  border: 1px solid white;
}
.clientPicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.clientName {
  margin-left: 12px;
}

.clientCheckBox {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.notificationAlert {
  position: absolute;
  right: 20px;
  top: 20px;
}
