.app {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.clients {
    width: 366px;
    min-height: 1140px;
}

.clientProfile {
    width: 744px;
    min-height: 1140px;
}
