.clientsProfileLayout {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.clientProfileSubPage {
    background-color: white;
    padding-top: 15px;
    padding-left: 15px;
    width: 744px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    min-height: 778px;
}
