.clientProfile {
    width: 744px;
    // min-height: 1140px;
}

.clientProfileInner {
    background-color: white;
    padding: 10px 16px 10px 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.clientProfileData {
    display: flex;
}

.clientProfileImg {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    img {
        width: 100%;
    }
}

.clientProfileInfo {
    margin-left: 14px;
    margin-top: 5px;
}

.clientProfileOptions {
    width: 20px;
    cursor: pointer;
}

.clientProfileName {
    font-size: 16px;
    margin-bottom: 6px;
}
.clientProfileGenderAndAge {
    font-size: 12px;
}
